:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-xl: 24px;

  --color-white: #fff;

  --page-width-big: 1260px;
  --page-width-medium: 1000px;
  --page-width-small: 700px;

  --color-p: #111827;
  --color-border: #253041;
  --color-primary: rgb(56, 56, 238);
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text: 400;
}
